body {
  padding: 0 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #3498db;
    font-size: 30px;
}

input {
    font-size: 20px;
    height: 35px;
    margin-right: 14px;
    margin-left: 4px;
}

.button {
    color: #ffffff;
    font-size: 20px;
    background: #3498db;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 0 4px;
}

.button:hover  {
  background: #3cb0fd;
  text-decoration: none;
}

.game-grid {
	max-height: 520px;
	max-width: 500px;
    width: auto;
    height: auto;
}

.game-tile {
    max-height: 10%;
    max-width: 10%;
    height: auto;
    width: auto;
    float: left;
}

.board-title {
    margin-top: 10px;
    max-height: 20px;
    width: 100%;
    text-align: center;
}

.alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.7;
    min-width: 20%;
    width: auto;
    font-size: 40px;
    padding: 20px 0;
    text-align: center;
}

#hit-alert {
    background-color: indianred;
    color: darkred;
}

#init {
    margin-top: 100px;
    text-align: center;
}

#game-load {
    margin-top: 100px;
    text-align: center;
    font-size: 24px;
}

#session-id {
    color: #3498db;
}

#join {
    margin-top: 40px;
}

#miss-alert {
    background-color: lightgoldenrodyellow;
    color: darkgoldenrod;
}

#player-board {
    float: left;
}

#opponent-board {
    float: right;
}
#turn-msg {
    margin-bottom: 10px;
    font-size: 22px;
    text-align: center;
    color: #3498db;
}
#ship-sunk {
    font-size: 24px;
}
